body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
}


nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  background: url('images/food.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  height: 100vh; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px; 
}


main {
  padding: 20px;
}

.menu-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.menu-item {
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.menu-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

        .navbar {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 20px;
        }

        .nav-links li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 30px; 
        }

 .navbar img {
            height: 100px;
            margin-left: 20px;
        }